<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <form class="form-signin" method="post" action="/login">
        <h2 class="form-signin-heading">Please sign in</h2>
        <p>
            <label for="username" class="sr-only">账号</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="账号" required autofocus>
        </p>
        <p>
            <label for="password" class="sr-only">密码</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="密码" required>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <button class="btn btn-lg btn-primary btn-block" onclick="checkajx();">Sign in2</button>
    </form>
</div>
</body>
<script type="text/javascript">
    var Ajax = {
        get: function(url,callback){
            // XMLHttpRequest对象用于在后台与服务器交换数据
            var xhr=new XMLHttpRequest();
            xhr.open('GET',url,false);
            xhr.onreadystatechange=function(){
                // readyState == 4说明请求已完成
                if(xhr.readyState==4){
                    if(xhr.status==200 || xhr.status==304){
                        console.log(xhr.responseText);
                        callback(xhr.responseText);
                    }
                }
            }
            xhr.send();
        },

        // data应为'a=a1&b=b1'这种字符串格式，在jq里如果data为对象会自动将对象转成这种字符串格式
        post: function(url,data,callback){
            var xhr=new XMLHttpRequest();
            xhr.open('POST',url,false);
            // 添加http头，发送信息至服务器时内容编码类型
            xhr.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
            xhr.onreadystatechange=function(){
                if (xhr.readyState==4){
                    if (xhr.status==200 || xhr.status==304){
                        // console.log(xhr.responseText);
                        callback(xhr.responseText);
                    }
                }
            }
            xhr.send(data);
        }
    }
    function checkajx(){
        Ajax.get("http://127.0.0.1:8081/sysUser/getStr",null);
    }
</script>
</html>