package ${package.Mapper};

import ${package.Entity}.${entity};
import ${superMapperClassPackage};import com.baomidou.dynamic.datasource.annotation.DS;

/**
 * <p>
 * $!{table.comment} Mapper 接口
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@DS("oracle")
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

}
